[Unit]
Description=Shutdown Pi Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/pi-rfid/pythonShutdown.py

[Install]
WantedBy=multi-user.target
